



<div class="card">
  <div class="card-header">
    <h1>Editing List</h1>
  </div>
    <%= render 'form', list: @list %>


    
  </div>
    <br/>
    <%= link_to 'Show', @list, class:"btn btn-success" %>
    <%= link_to 'Back', root_path, class:"btn btn-success", style:'margin-left: 5px' %>
</div>