
<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @list.completed %>
</p>

<%= link_to 'Edit', edit_list_path(@list), class:"btn btn-success" %>
<%= link_to 'Back', edit_list_path(@list), class:"btn btn-success", style:"margin-left: 5px" %>
